<div class="center">
    <h1>Login</h1>

    <form (ngSubmit)="onSubmit()">
        <div class="field">
            <label for="login-username">Username:</label>
            <input type="text" id="login-username" name="login-username" [(ngModel)]="username" required>
        </div>

        <br>

        <div class="field">
            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="login-password" [(ngModel)]="password" required>
        </div>

        <br>

        <button type="submit">Login</button>

        <div class="links">
            <button type="button" (click)="logOut()">Logout</button>
            <p>{{ loginMessage }}</p>
        </div>
    </form>
</div>