* {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: linear-gradient(120deg, #C97C5D, #247BA0);
}
